<div ng-controller="MainController" ng-init="initializeController()">


    <h1 class="content-h1">The sc.lab Blog</h1>

    <h2 class="content-h2"><a href="#">Congratulations!</a></h2>

    <ul class="content-info">
        <li>
            <span class="octicon octicon-eye"></span> May 20, 2015
        </li>
        <li>
            <span class="octicon octicon-diff-added"></span> May 20, 2015
        </li>
        <li>
            <span class="octicon octicon-diff-removed"></span> May 20, 2015
        </li>

    </ul>

    <p class="main-p">Today there was the launch of the beta version of the project sc.lab.</p>

</div>
