<div>
    <h3 class="task-h3">Тема:</h3>

    <p class="them-p">
        Работа в GPSS.
    </p>

    <h3 class="task-h3">Задание:</h3>

    <p class="task-p">
        ОТК цеха работают три контролера. Если деталь поступает в ОТК,
        когда все контролеры заняты обслуживанием ранее поступивших деталей,
        то она проходит непроверенной. Среднее число деталей, поступающих в
        ОТК в течение часа, равно 24, среднее время, которое затрачивает
        один контролер на обслуживание одной детали, равно 5 мин. Определить
        вероятность того, деталь пройдет ОТК необслуженной, насколько
        загружены контролеры и сколько их необходимо поставить, чтобы
        P >= 0,95 (* - заданное значение P).
    </p>

</div>
