<div ng-controller="DataController" ng-init="initializeController()">


    <h1 class="content-h1">Список предметов и лабораторных работ</h1>

    <div triangle class="div-data" ng-repeat="item in data | orderBy: 'name'">

        <h2>
            <span class="octicon octicon-data octicon-chevron-right"></span>
            {{item.fullName}}
        </h2>

        <ul class="ul-data">
            <li ng-repeat="lab in item.labs | orderBy: 'name'">
                <a href="#/{{item.name}}/{{lab.name}}">
                    <span class="octicon octicon-lab octicon-file-text"></span>
                    {{lab.name | pInt}}
                </a>
            </li>
        </ul>

    </div>


</div>
</ul>
</div>


</div>
