/*_______________________TEXT______________________*/
/* line 16, ../scss/lab.scss */
h1.lab-h1 {
  margin-bottom: 10px;
  font: 20px/2.5 sans-serif;
  border-bottom: 1px solid #cbcbcb; }

/* line 22, ../scss/lab.scss */
h1.lab-h1 ul {
  float: right;
  position: relative;
  top: 4px; }

/* line 29, ../scss/lab.scss */
h1.lab-h1 ul li {
  font: 18px/2.5 sans-serif;
  float: left;
  margin: 0 10px;
  padding: 0 10px;
  color: #777777; }

/* line 37, ../scss/lab.scss */
h1.lab-h1 ul li:hover {
  color: #333333;
  border-bottom: 2px solid #4183C4;
  cursor: pointer; }

/* line 43, ../scss/lab.scss */
h1.lab-h1 ul li span {
  position: relative;
  bottom: 2px;
  color: #999999;
  font-size: 16px;
  line-height: 1; }

/* line 51, ../scss/lab.scss */
h1.lab-h1 ul li:hover span {
  color: #333333; }

/* line 55, ../scss/lab.scss */
.content-lab {
  background-color: #cccccc; }

/*_______________________TASK______________________*/
/* line 62, ../scss/lab.scss */
h3.task-h3 {
  clear: both;
  float: left;
  font: 20px/1 sans-serif;
  margin: 20px 0 15px 0; }

/* line 69, ../scss/lab.scss */
p.them-p {
  float: left;
  margin: 18px 0 0 18px;
  font: 17px/1.4 sans-serif;
  border-bottom: 1px dashed #333333; }

/* line 77, ../scss/lab.scss */
p.task-p {
  clear: both;
  float: left;
  margin-top: 10px;
  font: 15px/1.4 sans-serif; }

/* line 84, ../scss/lab.scss */
ul.ul-task {
  display: block;
  float: left;
  clear: both;
  margin: 5px 0;
  font: 15px/1.4 sans-serif; }

/* line 92, ../scss/lab.scss */
ul.ul-task li {
  margin: 5px 0 5px 30px; }

/* line 96, ../scss/lab.scss */
ul.ul-task li span {
  font-size: 32px;
  position: relative;
  bottom: 1px;
  right: 5px; }

/* line 103, ../scss/lab.scss */
pre {
  margin: 0 0 0 20px;
  padding: 0;
  clear: both;
  position: relative;
  right: 80px; }

/* line 111, ../scss/lab.scss */
xmp {
  margin: 0;
  padding: 0; }

/* line 119, ../scss/lab.scss */
div.inputs-container {
  margin: 0 auto;
  width: 94px; }

/* line 124, ../scss/lab.scss */
div.inputs-container input {
  width: 25px;
  text-align: center;
  float: left; }

/* line 130, ../scss/lab.scss */
div.inputs-container input:first-child {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0; }

/* line 139, ../scss/lab.scss */
div.inputs-container input:last-child {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0; }
