/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scss/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 16px/1 'SourceSansPro', Helvetica, 'Lucida Grande', sans-serif;
  font: inherit;
  color: #333333;
  vertical-align: baseline;
  text-decoration: none; }

/* line 29, ../scss/reset.scss */
a, a:link, a:active, a:hover, a:visited, a:focus {
  color: #333333;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
/* line 35, ../scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

/*body {
    text-align: center;
}*/
/* line 44, ../scss/reset.scss */
ol, ul {
  list-style: none; }

/* line 47, ../scss/reset.scss */
blockquote, q {
  quotes: none; }

/* line 50, ../scss/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 55, ../scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "TRASHED";
  src: url('fonts/TRASHED/TRASHED.eot?&1299458222') format("eot"), url('fonts/TRASHED/TRASHED.woff?1299458222') format("woff"), url('fonts/TRASHED/TRASHED.ttf?1299458222') format("truetype"), url('fonts/TRASHED/TRASHED.svg?1299458222#TRASHED') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "TRICKAX";
  src: url('fonts/TRICKAX/TRICKAX.eot?&1299468136') format("eot"), url('fonts/TRICKAX/TRICKAX.woff?1299468136') format("woff"), url('fonts/TRICKAX/TRICKAX.ttf?1299468136') format("truetype"), url('fonts/TRICKAX/TRICKAX.svg?1299468136#TRICKAX') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "SourceSansPro";
  src: url('fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot?&1351319620') format("eot"), url('fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff?1351319620') format("woff"), url('fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf?1351319620') format("truetype"), url('fonts/SourceSansPro-Regular/SourceSansPro-Regular.svg?1351319620#SourceSansPro-Regular') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "SourceSansPro";
  src: url('fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot?&1351319048') format("eot"), url('fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff?1351319048') format("woff"), url('fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf?1351319048') format("truetype"), url('fonts/SourceSansPro-Bold/SourceSansPro-Bold.svg?1351319048#SourceSansPro-Bold') format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto-Regular/Roboto-Regular.eot?&1319585996') format("eot"), url('fonts/Roboto-Regular/Roboto-Regular.woff?1319585996') format("woff"), url('fonts/Roboto-Regular/Roboto-Regular.ttf?1319585996') format("truetype"), url('fonts/Roboto-Regular/Roboto-Regular.svg?1319585996#Roboto-Regular') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto-Bold/Roboto-Bold.eot?&1319585878') format("eot"), url('fonts/Roboto-Bold/Roboto-Bold.woff?1319585878') format("woff"), url('fonts/Roboto-Bold/Roboto-Bold.ttf?1319585878') format("truetype"), url('fonts/Roboto-Bold/Roboto-Bold.svg?1319585878#Roboto-Bold') format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Condensed";
  src: url('fonts/Roboto-Condensed/Roboto-Condensed.eot?&1319585828') format("eot"), url('fonts/Roboto-Condensed/Roboto-Condensed.woff?1319585828') format("woff"), url('fonts/Roboto-Condensed/Roboto-Condensed.ttf?1319585828') format("truetype"), url('fonts/Roboto-Condensed/Roboto-Condensed.svg?1319585828#Roboto-Condensed') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Condensed";
  src: url('fonts/Roboto-BoldCondensed/Roboto-BoldCondensed.eot?&1319585722') format("eot"), url('fonts/Roboto-BoldCondensed/Roboto-BoldCondensed.woff?1319585722') format("woff"), url('fonts/Roboto-BoldCondensed/Roboto-BoldCondensed.ttf?1319585722') format("truetype"), url('fonts/Roboto-BoldCondensed/Roboto-BoldCondensed.svg?1319585722#Roboto-BoldCondensed') format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Nerwus";
  src: url('fonts/Nerwus/Nerwus.eot?&1299456220') format("eot"), url('fonts/Nerwus/Nerwus.woff?1299456220') format("woff"), url('fonts/Nerwus/Nerwus.ttf?1299456220') format("truetype"), url('fonts/Nerwus/Nerwus.svg?1299456220#Nerwus') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Font-Abbey";
  src: url('fonts/Font-Abbey/Font-Abbey.eot?&1299475168') format("eot"), url('fonts/Font-Abbey/Font-Abbey.woff?1299475168') format("woff"), url('fonts/Font-Abbey/Font-Abbey.ttf?1299475168') format("truetype"), url('fonts/Font-Abbey/Font-Abbey.svg?1299475168#Font-Abbey') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "pdark";
  src: url('fonts/pdark/pdark.eot?&1299456158') format("eot"), url('fonts/pdark/pdark.woff?1299456158') format("woff"), url('fonts/pdark/pdark.ttf?1299456158') format("truetype"), url('fonts/pdark/pdark.svg?1299456158#pdark') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url('fonts/Lato-Regular/Lato-Regular.eot?&1299475972') format("eot"), url('fonts/Lato-Regular/Lato-Regular.woff?1299475972') format("woff"), url('fonts/Lato-Regular/Lato-Regular.ttf?1299475972') format("truetype"), url('fonts/Lato-Regular/Lato-Regular.svg?1299475972#Lato-Regular') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url('fonts/Lato-Bold/Lato-Bold.eot?&1299475972') format("eot"), url('fonts/Lato-Bold/Lato-Bold.woff?1299475972') format("woff"), url('fonts/Lato-Bold/Lato-Bold.ttf?1299475972') format("truetype"), url('fonts/Lato-Bold/Lato-Bold.svg?1299475972#Lato-Bold') format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url('fonts/Lato-BoldItalic/Lato-BoldItalic.eot?&1299475970') format("eot"), url('fonts/Lato-BoldItalic/Lato-BoldItalic.woff?1299475970') format("woff"), url('fonts/Lato-BoldItalic/Lato-BoldItalic.ttf?1299475970') format("truetype"), url('fonts/Lato-BoldItalic/Lato-BoldItalic.svg?1299475970#Lato-BoldItalic') format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Lato";
  src: url('fonts/Lato-Italic/Lato-Italic.eot?&1299475972') format("eot"), url('fonts/Lato-Italic/Lato-Italic.woff?1299475972') format("woff"), url('fonts/Lato-Italic/Lato-Italic.ttf?1299475972') format("truetype"), url('fonts/Lato-Italic/Lato-Italic.svg?1299475972#Lato-Italic') format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'octicons';
  src: url('fonts/octicons/octicons.eot?&1427830478#iefix') format("embedded-opentype"), url('fonts/octicons/octicons.woff?1427830478') format("woff"), url('fonts/octicons/octicons.ttf?1427830478') format("truetype"), url('fonts/octicons/octicons.svg?1427830478#octicons') format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 13, ../scss/octicon.scss */
.octicon {
  vertical-align: middle;
  font: 16px/1 'octicons';
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333333; }

/* line 27, ../scss/octicon.scss */
.octicon-data {
  position: relative;
  margin-right: 6px;
  bottom: 2px;
  font-size: 20px; }

/* line 34, ../scss/octicon.scss */
.octicon-lab {
  margin-right: 2px;
  font-size: 32px; }

/* line 39, ../scss/octicon.scss */
.octicon-file-text:before {
  content: '\f011'; }

/* line 43, ../scss/octicon.scss */
.octicon-chevron-right:before {
  content: '\f078'; }

/* line 47, ../scss/octicon.scss */
.octicon-chevron-down:before {
  content: '\f0a3'; }

/* line 51, ../scss/octicon.scss */
.octicon-diff-added:before {
  content: '\f06b'; }

/* line 55, ../scss/octicon.scss */
.octicon-diff-removed:before {
  content: '\f06c'; }

/* line 59, ../scss/octicon.scss */
.octicon-eye:before {
  content: '\f04e'; }

/* line 63, ../scss/octicon.scss */
.octicon-code:before {
  content: '\f05f'; }

/* line 67, ../scss/octicon.scss */
.octicon-question:before {
  content: '\f02c'; }

/*_____________________________CONTENT______________________*/
/* line 4, ../scss/data.scss */
.div-data {
  width: 200px;
  margin: 30px 0; }

/* line 9, ../scss/data.scss */
.div-data h2 {
  width: 150px;
  margin: 0 0 13px 0;
  font: bold 24px/1 Roboto-Condensed, sans-serif; }

/* line 15, ../scss/data.scss */
.div-data h2:hover {
  cursor: pointer;
  color: #4183C4; }

/* line 20, ../scss/data.scss */
.div-data ul {
  display: none; }

/* line 24, ../scss/data.scss */
.div-data ul li {
  margin: 0 0 5px 30px;
  font: 20px/1 sans-serif; }

/* line 29, ../scss/data.scss */
.div-data ul li span {
  position: relative;
  bottom: 2px; }

/* line 34, ../scss/data.scss */
.div-data ul li a:hover {
  color: #4183C4; }

/*_______________________TEXT______________________*/
/* line 14, ../scss/lab.scss */
h1.lab-h1 {
  margin-bottom: 10px;
  font: 20px/3 sans-serif;
  border-bottom: 1px solid #cbcbcb; }

/* line 20, ../scss/lab.scss */
h1.lab-h1 > span {
  font-size: 20px; }

/* line 25, ../scss/lab.scss */
h1.lab-h1 ul {
  float: right; }

/* line 29, ../scss/lab.scss */
h1.lab-h1 ul li {
  float: left;
  margin: 0 10px; }

/* line 34, ../scss/lab.scss */
h1.lab-h1 ul li:hover {
  border-bottom: 2px solid #4183C4;
  cursor: pointer; }

/* line 39, ../scss/lab.scss */
h1.lab-h1 ul li span {
  position: relative;
  bottom: 5px;
  color: #999999;
  font-size: 24px; }

/* line 46, ../scss/lab.scss */
h1.lab-h1 ul li:hover span {
  color: #333333; }

/* line 50, ../scss/lab.scss */
.content-lab {
  background-color: #cccccc; }

/* line 62, ../scss/lab.scss */
div.inputs-container {
  margin: 0 auto;
  width: 94px; }

/* line 67, ../scss/lab.scss */
div.inputs-container input {
  width: 25px;
  text-align: center;
  float: left; }

/* line 73, ../scss/lab.scss */
div.inputs-container input:first-child {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0; }

/* line 82, ../scss/lab.scss */
div.inputs-container input:last-child {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0; }

/*_____________________________EXEC________________________*/
/* line 23, ../scss/main.scss */
#exec {
  display: none;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url('images/logo-hover.png?1432140638') no-repeat 50% 50%;
  background-size: auto 500px; }

/* line 34, ../scss/main.scss */
#exec div {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEklEQVQImWNgIBkEBQX9J10XAGYkAfaKvYEhAAAAAElFTkSuQmCC") repeat; }

/*_____________________________HEADER______________________*/
/* line 42, ../scss/main.scss */
header {
  background-color: #F4F4F4;
  padding: 0;
  width: auto;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #CBCBCB; }

/* line 51, ../scss/main.scss */
#in-header {
  width: 800px;
  margin: 0 auto;
  padding: 0;
  height: 100%; }

/* line 58, ../scss/main.scss */
.div-img {
  float: left;
  margin-left: 20px;
  width: 40px;
  height: 110%;
  background: url('images/logo.png?1432140777') no-repeat;
  background-size: contain; }

/* line 67, ../scss/main.scss */
.div-img:hover {
  background: url('images/logo-hover.png?1432140638') no-repeat;
  background-size: contain; }

/*_____________________________SEARCH______________________*/
/* line 74, ../scss/main.scss */
#div-search {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  float: left;
  margin: 10px 0 0 20px;
  width: 300px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

/* line 87, ../scss/main.scss */
#div-search:hover {
  border: 1px solid #989898; }

/* line 91, ../scss/main.scss */
#input-search, #input-search:hover, #input-search:active {
  float: left;
  width: 98%;
  margin: 0 1%;
  height: 100%;
  border: 0;
  outline: 0;
  font: 16px/1 Roboto-Condensed, Helvetica, sans-serif;
  background: none;
  color: #333333; }

/*_____________________________NAV______________________*/
/* line 105, ../scss/main.scss */
header nav {
  height: 100%;
  float: right;
  margin: 15px 20px 0 0; }

/* line 111, ../scss/main.scss */
header nav ul {
  height: 100%; }

/* line 115, ../scss/main.scss */
header nav ul li {
  float: left;
  margin-right: 15px;
  font: bold 18px/1 Roboto-Condensed, Helvetica, sans-serif; }

/* line 121, ../scss/main.scss */
header nav ul li a:hover {
  color: #4183C4; }

/*_____________________________CONTENT______________________*/
/* line 127, ../scss/main.scss */
div#wrapper-content {
  height: auto;
  margin: 0 auto;
  width: 800px; }

/* line 133, ../scss/main.scss */
div#content {
  word-break: break-all;
  width: 95%;
  height: auto;
  margin: 30px auto; }

/*_____________________________TEXT______________________*/
/* line 142, ../scss/main.scss */
h1.content-h1 {
  margin-bottom: 10px;
  font: 24px/2 Roboto-Condensed, sans-serif, Helvetica;
  border-bottom: 1px solid #CBCBCB; }

/* line 148, ../scss/main.scss */
h2.content-h2 {
  margin: 30px 0 10px 0;
  font: 32px/1 Roboto-Condensed, sans-serif, Helvetica;
  color: #4183C4; }

/* line 154, ../scss/main.scss */
h2.content-h2 a {
  color: #4183C4; }

/* line 158, ../scss/main.scss */
h2.content-h2 a:hover {
  text-decoration: underline; }

/* line 162, ../scss/main.scss */
h3.content-h3 {
  font: 20px/1 Roboto-Condensed, sans-serif, Helvetica;
  margin: 10px 0 5px 0; }

/* line 167, ../scss/main.scss */
ul.content-info {
  margin: 0 0 20px 0;
  font: 13px/1 Helvetica, sans-serif; }

/* line 172, ../scss/main.scss */
ul.content-info li {
  margin-right: 15px;
  display: inline; }

/* line 177, ../scss/main.scss */
ul.content-info li span {
  z-index: 10;
  position: relative;
  bottom: 2px; }

/* line 183, ../scss/main.scss */
p.main-p {
  clear: left;
  margin-top: 10px;
  font: 15px/1.4 sans-serif, Helvetica; }

/*_____________________________TABLE______________________*/
/* line 191, ../scss/main.scss */
table {
  width: 100%;
  box-sizing: border-box;
  font: 16px/40px Roboto-Condensed, Helvetica, sans-serif;
  text-align: left;
  margin-bottom: 25px; }

/* line 199, ../scss/main.scss */
table > thead > tr {
  border-bottom: 2px solid #dddddd; }

/* line 203, ../scss/main.scss */
table tr {
  height: 30px; }

/* line 207, ../scss/main.scss */
table > tbody > tr {
  border-top: 1px solid #dddddd; }

/* line 211, ../scss/main.scss */
table td, table th {
  text-align: center;
  padding-left: 5px; }

/* line 216, ../scss/main.scss */
table tbody tr:hover {
  background-color: #F5F5F5; }

/* line 220, ../scss/main.scss */
table th {
  font-weight: bold; }

/*_____________________________SELECT______________________*/
/* line 226, ../scss/main.scss */
ul.select {
  overflow: hidden;
  margin: 15px 0;
  font: 14px/30px Helvetica, sans-serif;
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #F8F8F8; }

/* line 237, ../scss/main.scss */
ul.select li {
  color: #4183C4;
  padding-left: 25px;
  border-bottom: 1px solid #EEEEEE;
  height: 30px; }

/* line 244, ../scss/main.scss */
ul.select li:hover {
  background-color: #ffffff;
  cursor: pointer; }

/* line 249, ../scss/main.scss */
ul.select li:last-child {
  border-bottom: none; }

/* line 253, ../scss/main.scss */
ul.select li span {
  margin-right: 1px; }

/*_____________________________TEXTAREA______________________*/
/* line 259, ../scss/main.scss */
textarea {
  width: 400px;
  padding: 10px;
  margin: 2px 0;
  font: 12px/1.3 Helvetica, sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* line 271, ../scss/main.scss */
textarea:hover {
  border: 1px solid #989898; }

/*_____________________________INPUT______________________*/
/* line 277, ../scss/main.scss */
input.text-input {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;
  font: 14px/1 Helvetica, sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* line 290, ../scss/main.scss */
input.text-input:hover {
  border: 1px solid #989898; }

/*_____________________________GALLERY______________________*/
/* line 296, ../scss/main.scss */
div.gallery {
  margin: 10px 0;
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #F8F8F8; }

/* line 307, ../scss/main.scss */
div.gallery img {
  vertical-align: middle;
  margin: 10px;
  width: 70px;
  border: 2px solid #ffffff;
  outline: 1px solid #333333; }

/* line 315, ../scss/main.scss */
div.gallery img:hover {
  cursor: pointer; }

/*_____________________________CANVAS______________________*/
/* line 321, ../scss/main.scss */
canvas {
  border: 1px solid #CBCBCB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
