@font-face {
  font-family: 'octicons';
  src: url('fonts/octicons/octicons.eot?&1427830478#iefix') format("embedded-opentype"), url('fonts/octicons/octicons.woff?1427830478') format("woff"), url('fonts/octicons/octicons.ttf?1427830478') format("truetype"), url('fonts/octicons/octicons.svg?1427830478#octicons') format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 13, ../scss/octicon.scss */
.octicon {
  vertical-align: middle;
  font: 16px/1 'octicons';
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333333; }

/* line 27, ../scss/octicon.scss */
.octicon-data {
  position: relative;
  margin-right: 6px;
  bottom: 2px;
  font-size: 20px; }

/* line 34, ../scss/octicon.scss */
.octicon-lab {
  margin-right: 2px;
  font-size: 32px; }

/* line 39, ../scss/octicon.scss */
.octicon-file-text:before {
  content: '\f011'; }

/* line 43, ../scss/octicon.scss */
.octicon-chevron-right:before {
  content: '\f078'; }

/* line 47, ../scss/octicon.scss */
.octicon-chevron-down:before {
  content: '\f0a3'; }

/* line 51, ../scss/octicon.scss */
.octicon-diff-added:before {
  content: '\f06b'; }

/* line 55, ../scss/octicon.scss */
.octicon-diff-removed:before {
  content: '\f06c'; }

/* line 59, ../scss/octicon.scss */
.octicon-eye:before {
  content: '\f04e'; }

/* line 63, ../scss/octicon.scss */
.octicon-code:before {
  content: '\f05f'; }

/* line 67, ../scss/octicon.scss */
.octicon-question:before {
  content: '\f02c'; }

/* line 71, ../scss/octicon.scss */
.octicon-arrow-small-right:before {
  content: '\f071'; }
