<div ng-controller="LoadLabController" ng-init="initializeController()">

    <h1 class="lab-h1">
        {{fullNameItem}}: {{lab.fullName | pInt}}

        <ul>
            <li ng-click="selectTask()"><span class="octicon octicon-question"></span> Задание</li>
            <li ng-click="selectContent()"><span class="octicon octicon-check"></span> Решение</li>
            <li ng-click="selectCode()"><span class="octicon octicon-code"></span> Код</li>
        </ul>

    </h1>

    <ul class="content-info">
        <li>
            Выдана: {{lab.dateCreate | date: "yyyy-MM-dd"}}
        </li>
        <li>
            Добавлена: {{lab.dateBegin | date: "yyyy-MM-dd"}}
        </li>
        <li>
            Сдача: {{lab.dateEnd | date: "yyyy-MM-dd"}}
        </li>
    </ul>

    <div ng-switch on="selection">


        <div ng-switch-when="content">
            <div ng-include="urlHtml"></div>
        </div>


        <div ng-switch-when="task">
            <div ng-include="urlTask"></div>
        </div>


        <div ng-switch-when="code">
            <div ng-include="urlCode"></div>
        </div>

        <div ng-switch-default></div>

    </div>

</div>
