<div ng-controller="Lab2cGraphic" ng-init="initializeController()">

    <h3 class="content-h3">Choose string</h3>

    <ul class="select">
        <li ng-repeat="str in strings" ng-click="insertStr(str.str)">{{str.str}}</li>
    </ul>

    <h3 class="content-h3">Encode</h3>
    <textarea ng-change="encode()" ng-model="strEncode" rows="5"></textarea>

    <h3 class="content-h3">Code</h3>
    <input class="text-input" type="text" ng-model="code" />

    <h3 class="content-h3">Decode</h3>
    <textarea ng-model="decode" rows="5"></textarea>

</div>
