<div>
    <h3 class="task-h3">Тема:</h3>
    <p class="them-p">
        Сжатие изображений
    </p>
    <h3 class="task-h3">Задание:</h3>
    <p class="task-p">
        Закодируйте изображением одним из методов сжатия без потерь:
    </p>

    <ul class="ul-task">
        <li><span class="octicon octicon-arrow-small-right"></span>Метод Хаффмана</li>
        <li><span class="octicon octicon-arrow-small-right"></span>Арифметический метод</li>
        <li><span class="octicon octicon-arrow-small-right"></span>Метод LZW</li>
        <li><span class="octicon octicon-arrow-small-right"></span>Метод RLE</li>
    </ul>

    <p class="task-p">
        Также можно использовать модификации этих методов.
    </p>

</div>
