<div>
    <h3 class="task-h3">Тема:</h3>
    <p class="them-p">
        По элементная обработка изображения.
    </p>
    <h3 class="task-h3">Задание:</h3>
    <p class="task-p">
        Выполните следующие пункты:
    </p>

    <ul class="ul-task">
        <li><span class="octicon octicon-arrow-small-right"></span>Выполнить цветовую коррекцию полноцветного изображения</li>
        <li><span class="octicon octicon-arrow-small-right"></span>Произвести инверсию полноцветного изображения</li>
        <li><span class="octicon octicon-arrow-small-right"></span>Преобразовать цветное изображение в полутоновое и построить для него гистограмму</li>
        <li><span class="octicon octicon-arrow-small-right"></span>На основе анализа гистограммы выполнить желательные преобразования</li>
        <li><span class="octicon octicon-arrow-small-right"></span>Построить бинарное изображение с порогом задеваемым в ручную</li>
        <li><span class="octicon octicon-arrow-small-right"></span>Пусть Исходное изображение это текст - построить гистограммы (бимодальное)</li>
    </ul>

</div>
